body {
  background-color: rgb(238, 238, 238);
  font-family: "OTWelcomeRA";
}
@font-face {
  font-family: "OTWelcomeRA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noofonts_211@1.0/OTWelcomeRA.woff2")
    format("woff2");
  font-weight: nomal;
  font-style: normal;
}
